header {
    font-size: 60px;
    font-weight: bolder;
    position: static;
    display: flex;
    justify-content: center;
}

#HSLink {
    position: fixed;
    left: 0;
    top: 0;
    font-size: larger
}

#timer {
    position:fixed;
    right: 0;
    top: 0;
    font-size: larger;
}

p {
    display: flex;
    justify-content: center;
}

#sButton {
    display: flex;
    justify-content: center;
    align-items: center;

}